body {
  background-color: lightgrey;
  text-align: center;l
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: Georgia;
  font-size: 15px;
  color: 	#b382ac;
  text-align: center;
}
img {

}
div #labs {
  background: white;
}
